include ../../layout.pug 
block content
    link(rel="stylesheet", href="/css/realty-detail.css")
    if realty 
        .container 
         .row
          .col-lg-8.offset-1
           
            each picture of pictures 
             img(class="imageDetail" src=`/${picture.url_path}`, alt=picture.url_path) 
            
            button.Show More 
            h1 #{realty.type}-#{realty.area} m²-#{realty.address1}
                    
                    

            h2 #{realty.room} pièces-#{realty.area} m²- #{realty.town}-#{realty.zipcode}
    
                

            h2 #{realty.price} $
            
            h3 #{realty.created_date.toUTCString()}  

            hr       
            hr    

            h3 Description 

            p #{realty.town} - #{realty.address1} 

            p=realty.info_address 
            p=realty.info 

            h3 Prix: #{realty.price} $
          if user
           if UserRealty && UserRealty.id && UserRealty.id !== user.id
            .col-lg-3
             .card.mt-5.sticky-top
              .card-header.d-flex.justify-content-center
               if UserRealty.civility === "M"
                 .d-flex.justify-content-center
                  img(src="/assets/avatar.png" alt="mdo" class="w-50 rounded-circle ms-2")
               else 
                 .d-flex.justify-content-center
                  img(src="/assets/avatar-femme.png" alt="mdo" class="w-50 ms-2") 
              .card-title
                h2.text-center Publier par:
               
                h2.text-center #{UserRealty.lastname} - #{UserRealty.firstname}
              .card-body.d-flex.justify-content-center 
                a.btn.btn-primary(href=`/realty/${realty.id}/contact/${UserRealty.id}`) Envoyez lui un message
          
          else
           .col-lg-3
            .sticky-top
             h1.text-center Pour accedez aux contacts, connectez-vous ou créer vous un compte :) 

block script
 script(src="/js/realty-detail.js")  


                    //- table.table.table-hover
                    //-     thead 
                    //-         tr 
                    //-             th Adresse 
                    //-             th ville 
                    //-             th code postal  
                    //-             th Prix 
                    //-             th Piéce 
                    //-             th vendu

                    //-     tbody 
                    //-             tr                                       
                    //-                 td= realty.address1
                                     
                    //-                 td= realty.town
                    //-                 td= realty.zipcode
                    //-                 td= realty.price 
                    //-                 td= realty.type
                    //-                 td= realty.area
                    //-                 td= realty.chambre
                    //-                 td= realty.info_adress

                    //-                 td= realty.info

                    //-                 td= realty.created_date.toUTCString()

                    //-                 td= realty.sold > 0 ? "yes" : "non"
                    //-                 td= realty.online > 0 ? "yes" : "non"
                                  
