include ../../layout.pug 
block content
    link(rel="stylesheet", href="/css/realty-detail.css")
    if realty 
        .container 
         .row
          .col-lg-8.offset-1
           
            each picture of pictures 
             img(class="imageDetail" src=`/${picture.url_path}`, alt=picture.url_path) 
            h1 #{realty.type}-#{realty.area} m²-#{realty.address1}
                    
                    

            h2 #{realty.room} pièces-#{realty.area} m²- #{realty.town}-#{realty.zipcode}
    
                

            h2 #{realty.price} $
            
            h3 #{realty.created_date.toUTCString()}  

            hr       
            hr    

            h3 Description 

            p #{realty.town} - #{realty.address1} 

            p=realty.info_address 
            p=realty.info 

            p Prix: #{realty.price} $

          .col-lg-3
            .card.mt-5.sticky-top
              .card-header.d-flex.justify-content-center
               if contact.civility === "M"
                img(src="/assets/avatar.png" alt="mdo" class="w-50 rounded-circle ms-2")
               else 
                img(src="/assets/avatar-femme.png" alt="mdo" class="w-50 ms-2")
              .card-title
                h2.text-center #{contact.lastname} - #{contact.firstname}
                h2.text-center 
                 a(href=`tel:+${contact.phone}`) #{contact.phone}
              .card-body.d-flex.justify-content-center 
                a.btn.btn-primary(href=`/realty/${realty.id}/contact/${contact.lastname}`) Envoyez lui un message


block script
 script(src="/js/chat.js")  


                    //- table.table.table-hover
                    //-     thead 
                    //-         tr 
                    //-             th Adresse 
                    //-             th ville 
                    //-             th code postal  
                    //-             th Prix 
                    //-             th Piéce 
                    //-             th vendu

                    //-     tbody 
                    //-             tr                                       
                    //-                 td= realty.address1
                                     
                    //-                 td= realty.town
                    //-                 td= realty.zipcode
                    //-                 td= realty.price 
                    //-                 td= realty.type
                    //-                 td= realty.area
                    //-                 td= realty.chambre
                    //-                 td= realty.info_adress

                    //-                 td= realty.info

                    //-                 td= realty.created_date.toUTCString()

                    //-                 td= realty.sold > 0 ? "yes" : "non"
                    //-                 td= realty.online > 0 ? "yes" : "non"
                                  
