extends ../layout.pug 

block content

  link(rel="stylesheet", href="/css/message.css")

  h1.text-center.mt-5 Vos messages:
  .d-flex.justify-content-evenly
   a(href=`/message/${user.id}` class="text-danger") 
    h2 Reçu 
   a(href=`/messages/envoyer/${user.id}` class="text-dark") 
    h2 Envoyé  
  .row.mt-5
   .col-md-12
    .panel.panel-container
     table.table.table-hover 
      thead 
       tr.text-center 
        th
        th User
        th Objet
     
      tbody 
        each c in conversation
           each r in realtie
            each u in userMessage 

             if c.realty_id == r.id && c.user_id_Send == u.id
               
               tr(class=`${c.Lu == 0 ? "bg-light" : ""}`)       

                 td 
                  if c.Lu == 1
                   i.fa-regular.fa-envelope-open
                  else 
                    i.fa-solid.fa-envelope
                 td       
                   if u.civility === "M"
                    img(src="/assets/avatar.png" alt="mdo" class=" avatar")
                   else 
                    img(src="/assets/avatar-femme.png" alt="mdo" class="avatar")
                
                   h2.text-center #{u.firstname} - #{u.lastname} 
           
                 td 
                  a(class="lien" href=`/realty/${r.id}/contactResponse/${c.user_id_Send}`) 
                   h2 #{r.area}m² - #{r.town}-#{r.zipcode}
