extends ../layout.pug 

block content
  link(rel="stylesheet", href="/css/message.css")
  h1.text-center Vos messages:
  table.mt-5 
     thead 
      tr.text-center 
       th User
       th Objet
       th Message
     
     tbody 
     each c in conversation
       each r in realtie
        if c.realty_id == r.id

         tr
          td 
           each u in userMessage
           
            if c.user_id_Send == u.id  
             h1 #{u.firstname} - #{u.lastname} 
          td 
           h1 #{r.area}m² - #{r.town}-#{r.zipcode}
          td           
            a(href=`/realty/${r.id}/contactResponse/${c.user_id_Send}`)    

             h2=c.lastMessage
