extends ../layout.pug 

block content
  link(rel="stylesheet", href="/css/realty-list.css")
            
    
  .d-flex.flex-column.justify-content-center.align-items-center 
    if session && session.user && session.user.civility === "M"
     img(src="/assets/avatar.png" alt="mdo" class="w-25  rounded-circle ms-2")
    else 
     img(src="/assets/avatar-femme.png" alt="mdo" class="w-25 ms-2")
    h1 #{user.username} - #{user.lastname}
 

  h2.text-center.mt-5 Vos Annonces : 
   br
   if realties.length > 0 
         .row.mt-5
            .col-sm-12
                .panel.panel-container
                  each realtie in realties 
                   a(href=`/realty/${realtie.id}`)
 
                    .card.mt-2.h-5
                    
                        .d-lg-flex.d-sm--block
                         .Image
                          
                          each picture in pictures
                            if  picture.realty_id == realtie.id 
                             if picture.Ordre == 1 
                              img( class="Image1" src=picture.url_path, alt=picture.url_path)                                  
                            
                            //- img(class="Image1" src="/assets/Maison.jpg")
                         .description    
                          h1(class="mt-5 text-danger") #{realtie.price}$
                          .d-lg-flex.ms-5.d-sm-block
                            if realtie.type == 1
                             p Appartement
                            if realtie.type == 2 
                             p Maison
                            if realtie.type == 3 
                             p Studio
                            if realtie.type == 4
                             p Autre 
                            p.ms-lg-2 #{realtie.area}m² 
                                        
                            p.ms-lg-2 #{realtie.town} 
                            p.ms-lg-2 #{realtie.zipcode}
                        
                          p.ms-5.mt-5.text-secondary #{realtie.created_date}

                          .d-flex.justify-content-evenly    
                           a(href="/realty/edit/"+realtie.id)
                              button.btn.btn-outline-primary Editez
                                    
                           form( method = "post"  enctype="application/x-www-form-urlencoded" action=`realty/delete/${realtie.id}?_method=DELETE` )  
                              button(class="btn btn-outline-danger") Supprimez