extends ../layout.pug 

block content
  link(rel="stylesheet", href="/css/realty-list.css")
            
    
  .d-flex.flex-column.justify-content-center.align-items-center 
   img(src="/assets/avatar.png" alt="mdo" class="w-25  rounded-circle ms-2")
   h1 #{user.username} - #{user.lastname}


  h2 Vos Annonces : 
   br
   if realties.length > 0 
         .row.mt-5
            .col-lg-12
                .panel.panel-container
                  each realtie in realties 
                   a(href=`/realty/${realtie.id}`)
 
                    .card.mt-5
                     each picture in pictures
                      if picture.realty_id == realtie.id 
                       if picture.Ordre == 1 
                        .d-flex
                         .Image
                          img( class="Image1" src=picture.url_path, alt=picture.url_path)                                  
                         .description    
                          h1(class="ms-5 mt-5 prix") #{realtie.price}$
                          .d-flex.ms-5
                            if realtie.type == 1
                             p Appartement-
                            if realtie.type == 2 
                             p Maison-
                            if realtie.type == 3 
                             p Studio-
                            if realtie.type == 4
                             p Autre -
                            p #{realtie.area}m²-
                                        
                            p #{realtie.town}- 
                            p #{realtie.zipcode}
                          h4.ms-5.mt-5.text-secondary #{realtie.created_date}

                          .d-flex.justify-content-evenly    
                           a(href="/realty/edit/"+realtie.id)
                              button.btn.btn-outline-primary Editez
                                    
                           form( method = "post"  enctype="application/x-www-form-urlencoded" action=`realty/delete/${realtie.id}?_method=DELETE` )  
                              button(class="btn btn-outline-danger") Supprimez