block content
    link(rel="stylesheet", href="/css/realty-list.css")
               
    .d-flex.mt-5.justify-content-between 
     h1 Liste des biens
     form(class="search") 
      input(type="text" placeholder="ville" class="w-75") 
      button ok
     if session && session.user
      a.btn.btn-primary.h-25(href="/realty/add/form") Ajouter un bien 

    if realties.length > 0 
         .row.mt-5
            .col-lg-8
                .panel.panel-container
                  each realtie in realties 
                   a(href=`/realty/${realtie.id}`)
 
                    .card.mt-2
                    
                        .d-flex
                         .Image
                          
                          each picture in pictures
                            if  picture.realty_id == realtie.id 
                             if picture.Ordre == 1 
                              img( class="Image1" src=picture.url_path, alt=picture.url_path)                                  
                            
                            //- img(class="Image1" src="/assets/Maison.jpg")
                         .description    
                          h1(class="ms-5 mt-5 prix") #{realtie.price}$
                          .d-flex.ms-5
                            if realtie.type == 1
                             p Appartement-
                            if realtie.type == 2 
                             p Maison-
                            if realtie.type == 3 
                             p Studio-
                            if realtie.type == 4
                             p Autre -
                            p #{realtie.area}m²-
                                        
                            p #{realtie.town}- 
                            p #{realtie.zipcode}
                        
                          p.ms-5.mt-5.text-secondary #{realtie.created_date}
                      
            .col-lg-4
             .sticky-top.d-flex.justify-content-center
              a(href="https://www.linkedin.com/in/demba-kante-68510714b/" class="mt-5") 
               img(src="/assets/Linkendin.png", alt="linkedink", srcset="")     
               h2 KANTE DEMBA                
    include ../utils/paginateRealtyClient.pug 
