block content
    link(rel="stylesheet", href="/css/realty-list.css")
    h1 Liste des biens
    
    if realties.length > 0 
         .row
            .col-md-12
                .panel.panel-container
                    table.table.table-hover
                        thead 
                            tr 
                                th 
                                th Adresse 
                                th ville 
                                th code postal  
                                th Prix 
                                th Piéce 
                                th vendu

                        tbody 
                            each realtie in realties 

                                tr   
                                    td 
                                     each picture in pictures
                                      if picture.realty_id == realtie.id 
                                       if picture.Ordre == 1 
                                        img(class = "w-25 Image1" src=picture.url_path, alt=picture.url_path)                                    
                                      
                                    td 
                                     a(href=`/realty/${realtie.id}`)=realtie.address1
                                     
                                    td= realtie.town
                                    td= realtie.zipcode
                                    td= realtie.price 
                                    td= realtie.type
                                    td= realtie.sold > 0 ? "yes" : "non"
                                  
    include ../utils/paginateRealtyClient.pug 
